{% extends "./base.html" %}
{% block title %}perfil{% endblock %}


{% block body %}
<section>
    <div>
        <h1>Tienda online</h1> 
        <h1>Carrito</h1>
    </div>
    <div>
        <ul>
            {% for dato in datos %}
            <li>
                <span><strong>Nombre: </strong>{{ dato["nombre"] }}</span>
                <span><strong>Precio: </strong>{{ dato["precio"] }}</span>
                <span><strong>Descripcion: </strong>{{ dato["descripcion"] }}</span>
                <button><a href="/delete/{{ dato["_id"] }}">Eliminar del carrito</a></button>
            </li>
            {% endfor %}
        </ul>

    </div>
    <hr>
    <button><a href="/tramite">Tramitar</a></button>


</section>


{% endblock %}