{% extends "./base.html" %}
{% block title %}Pago{% endblock %}


{% block body %}
<div>

    <form action="/targeta" method="post">
        <h1>Rellene los datos para añadir la targeta: </h1>
        <input type="text" placeholder="nombre completo" name="nombre">
        <input type="text" placeholder="IBAN" name="IBAN">
        <input type="password" placeholder="cv" name="ccv">
        <button type="submit">Añadir targeta</button>
    </form>
    <hr>
    <div>
        <h1>Targetas disponibles:</h1>
        <ul>
            {% for i in targetas %}
            <li>
                <span><strong>Nombre: </strong>{{ i["nombre"] }}</span>
                <span><strong>IBAN: </strong>{{ i["IBAN"] }}</span>
                <span><strong>ccv: </strong>{{ i["ccv"] }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}