{% extends "./base.html" %}
{% block title %}perfil{% endblock %}


{% block body %}
<section>
    <div>
        <h1>Tienda online</h1> 
        <button><a href="/">Cerrar sesion</a></button>
    </div>
    <div>
        <!-- <h1>Productos</h1>
        <div>
            <span name="balon">Nombre: Balon</span>
            <span name="precio_balon">Precio: 10</span>
            <span name="descripcion_balon">Descripcion: Balon de futbol</span>
            <button type="submit">Añadir al carro</button>
        </div> -->
        <form action="/tienda" method="post">
            <input type="text" placeholder="nombre articulo" name="nombre">
            <input type="text" placeholder="precio articulo" name="precio">
            <input type="text" placeholder="Descripcion articulo" name="descripcion">
            <button type="submit">Añadir al carro</button>
        </form>

    </div>
    <hr>
    <button><a href="/carrito">Ver carrito</a></button>


</section>


{% endblock %}