{% extends "./base.html" %}
{% block title %}Tienda{% endblock %}


{% block body %}
<section>
    <div>
        <h1>Tienda online</h1> 
    </div>
    <div>
        <h1>Articulos de la tienda</h1>
        <ul>
            {% for i in articulos %}
            <li>
                <span><strong>Nombre: </strong>{{ i["nombre"] }}</span>
                <span><strong>Precio: </strong>{{ i["precio"] }}</span>
                <span><strong>Descripcion: </strong>{{ i["descripcion"] }}</span>
                <button><a href="/anyadir_carrito/{{ i["_id"]}}">Añadir al carrito</a></button>


            </li>
            {% endfor %}
        </ul>
    </div>
    <hr>
    <button><a href="/carrito">Ver carrito</a></button>


</section>


{% endblock %}